<div>
  <%= link_to "New", new_post_path, class: "btn btn-raised btn-primary pull-right" %>
  <h1>Posts</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Rationale</th>
    <th>User</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
